<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增预算')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <input name="departId" type="hidden" id="treeId"/>
        <form class="form-horizontal m" id="form-budget-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">预算编码：</label>
                <div class="col-sm-8">
                    <input id="budgetCode" name="budgetCode" class="form-control required" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预算名称：</label>
                <div class="col-sm-8">
                    <input name="budgetName" class="form-control required" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预算指标：</label>
                <div class="col-sm-8">
                    <input name="budgetQuota" class="form-control required" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预算年度：</label>
                <div class="col-sm-8">
                    <input name="budgetYear" class="form-control required" type="text">
                </div>
            </div>
            <div class="form-group hide">
                <label class="col-sm-3 control-label">责任部门ID：</label>
                <div class="col-sm-8">
                    <input name="departId" class="form-control required" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">责任部门：</label>
                <div class="col-sm-8">
                    <input name="departName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择责任部门" class="form-control" readonly required>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">需要时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="needTime" class="form-control time-input" placeholder="yyyy-MM-dd" type="text" readonly>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否采购：</label>
                <div class="col-sm-8">
                    <select name="isPurchase" class="form-control" th:with="type=${@dict.getType('sys_yes_no')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <select name="status" class="form-control" th:with="type=${@dict.getType('sys_start_stop')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-xs-8">
                    <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "pur/budget"
        $("#form-budget-add").validate({
            onkeyup: false,
            rules: {
                budgetCode: {
                    minlength: 2,
                    maxlength: 20,
                    remote: {
                        url: prefix + "/checkCode",
                        type: "post",
                        dataType: "json",
                        data: {
                            "budgetCode": function () {
                                return $.common.trim($("#budgetCode").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                }
            }, messages: {
                    "budgetCode": {
                        remote: "预算编码已经存在"
                    }
                },
                focusCleanup: true
        });

        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-budget-add').serialize());
            }
        }

        // $("input[name='needTime']").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });
    </script>
</body>
</html>