<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预算列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input name="departId" type="hidden" id="treeId"/>
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>预算编码：</label>
                                <input type="text" name="budgetCode"/>
                            </li>
                            <li>
                                <label>预算名称：</label>
                                <input type="text" name="budgetName"/>
                            </li>
                            <li>
                                <label>预算指标：</label>
                                <input type="text" name="budgetQuota"/>
                            </li>
                            <li>
                                <label>预算年度：</label>
                                <input type="text" name="budgetYear"/>
                            </li>
                            <li>
                                <label>责任部门：</label>
                                <input name="departName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="责任部门" class="form-control" readonly required>

                            </li>
                            <li>
                                <label>是否采购：</label>
                                <select name="isPurchase" th:with="type=${@dict.getType('sys_yes_no')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_start_stop')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pur:budget:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="pur:budget:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pur:budget:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pur:budget:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var viewFlag = [[${@permission.hasPermi('pur:budget:view')}]];
        var editFlag = [[${@permission.hasPermi('pur:budget:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pur:budget:remove')}]];
        var isPurchaseDatas = [[${@dict.getType('sys_yes_no')}]];
        var statusDatas = [[${@dict.getType('sys_start_stop')}]];
        var prefix = ctx + "pur/budget";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "预算",
                clickToSelect: true,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '预算ID',
                    visible: false
                },
                {
                    field: 'budgetCode',
                    title: '预算编码'
                },
                {
                    field: 'budgetName',
                    title: '预算名称'
                },
                {
                    field: 'budgetQuota',
                    title: '预算指标'
                },
                {
                    field: 'budgetYear',
                    title: '预算年度'
                },
                {
                    field: 'departName',
                    title: '责任部门'
                },
                {
                    field: 'isPurchase',
                    title: '是否采购',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(isPurchaseDatas, value);
                    }
                },
                {
                    field: 'needTime',
                    title: '需要时间',
                    formatter: function(value, row, index) {
                        value=value.substring(0,11);
                        return value;
                    }

            },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + viewFlag + '" href="javascript:void(0)" onclick="$.operate.budgetDetail(\'' + row.id + '\')"><i class="fa fa-bars"></i>明细</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* */
        function statusTools(row) {
            if (row.status == 1) {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.id + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.id + '\')"></i> ';
            }
        }

        /* 停用 */
        function disable(id) {
            $.modal.confirm("确认要停用吗？", function() {
                $.operate.post(prefix + "/changeStatus", { "id": id, "status": 0 });
            })
        }

        /* 启用 */
        function enable(id) {
            $.modal.confirm("确认要启用吗？", function() {
                $.operate.post(prefix + "/changeStatus", { "id": id, "status": 1 });
            })
        }

        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }

        function budgetDetail(budgetId){

        }
    </script>
</body>
</html>