<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改预算')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-budget-edit" th:object="${purBusBudget}">
            <input name="id" th:field="*{id}" type="hidden">
            <input name="departId" type="hidden" id="treeId"/>

            <div class="form-group">    
                <label class="col-sm-3 control-label">预算编码：</label>
                <div class="col-sm-8">
                    <input name="budgetCode" th:field="*{budgetCode}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预算名称：</label>
                <div class="col-sm-8">
                    <input name="budgetName" th:field="*{budgetName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预算指标：</label>
                <div class="col-sm-8">
                    <input name="budgetQuota" th:field="*{budgetQuota}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预算年度：</label>
                <div class="col-sm-8">
                    <input name="budgetYear" th:field="*{budgetYear}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">责任部门：</label>
                <div class="col-sm-8">
                    <input name="departName" onclick="selectDeptTree()"  id="treeName" th:field="*{departName}" type="text" placeholder="请选择责任部门" class="form-control" readonly required>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">需要时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="needTime" th:value="${#dates.format(purBusBudget.needTime, 'yyyy-MM-dd')}" class="form-control time-input" placeholder="yyyy-MM-dd" type="text" readonly>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否采购：</label>
                <div class="col-sm-8">
                    <select name="isPurchase" class="form-control" th:with="type=${@dict.getType('sys_yes_no')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{isPurchase}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <select name="status" class="form-control" th:with="type=${@dict.getType('sys_start_stop')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{status}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "pur/budget";
        $("#form-budget-edit").validate({
            focusCleanup: true
        });

        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-budget-edit').serialize());
            }
        }


    </script>
</body>
</html>