<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增采购计划')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-plan-add">
        <input name="budgetId" id="budgetId" type="hidden">
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">计划编码：</label>
            <div class="col-sm-4">
                <input name="planCode" id="planCode" class="form-control" type="text" required>
            </div>
            <label class="col-sm-2 control-label is-required">计划名称：</label>
            <div class="col-sm-4">
                <input name="planName" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">申报年度：</label>
            <div class="col-sm-4">
                <input name="planYear" class="form-control" type="text" maxlength="4" required>
            </div>
            <label class="col-sm-2 control-label">采购方式：</label>
            <div class="col-sm-4">
                <select name="purWay" class="form-control" th:with="type=${@dict.getType('pur_way')}" required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">单价：</label>
            <div class="col-sm-4">
                <input name="planPrice" id="planPrice" onkeyup="countMoney()" class="form-control" type="number"
                       required>
            </div>
            <label class="col-sm-2 control-label is-required">数量：</label>
            <div class="col-sm-4">
                <input name="planNum" id="planNum" onkeyup="countMoney()" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">采购金额：</label>
            <div class="col-sm-4">
                <input name="planMoney" id="planMoney" class="form-control" type="number" readonly required>
            </div>
            <label class="col-sm-2 control-label">负责人：</label>
            <div class="col-sm-4">
                <input name="userName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">预算名称：</label>
            <div class="col-sm-4">
                <input name="budgetName" id="budgetName" class="form-control" onclick="selectBudgetParent()" type="text"
                       required  readonly>
            </div>
            <label class="col-sm-2 control-label">预算编码：</label>
            <div class="col-sm-4">
                <input name="budgetCode" id="budgetCode" class="form-control" onclick="selectBudgetParent()"
                       type="text" required readonly>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">预算指标：</label>
            <div class="col-sm-4">
                <input name="budgetQuota" id="budgetQuota" class="form-control" onclick="selectBudgetParent()"
                       type="text" required readonly>
            </div>
            <label class="col-sm-2 control-label">状态：</label>
            <div class="col-sm-4">
                <select name="status" class="form-control" th:with="type=${@dict.getType('sys_start_stop')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "pur/plan";
    $("#form-plan-add").validate({
        onkeyup: false,
        rules: {
            planCode: {
                minlength: 2,
                maxlength: 20,
                remote: {
                    url: prefix + "/checkCode",
                    type: "post",
                    dataType: "json",
                    data: {
                        "planCode": function () {
                            return $.common.trim($("#planCode").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            }
        }, messages: {
            "planCode": {
                remote: "采购计划编码已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-plan-add').serialize());
        }
    }

    function selectBudgetParent() {
        $.modal.open("选择预算", prefix + "/parent?budgetId="+$("#budgetId").val());
    }

    function countMoney() {
        var planNum = $("#planNum").val();
        var planPrice = $("#planPrice").val();
        if(!(/(^[1-9]\d*$)/.test(planNum))){
            $("#planNum").val("");
        }
        if(!(/(^[1-9]\d*$)/.test(planPrice))){
            $("#planPrice").val("");
        }


        var planMoney = planNum * planPrice;
        if (!isNaN(planMoney)) {
            $("#planMoney").val(planMoney);
        }
    }
</script>
</body>
</html>