<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改采购计划')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-plan-edit" th:object="${purBusPlan}">
        <input name="id" th:field="*{id}" type="hidden">
        <input name="budgetId" id="budgetId" th:field="*{budgetId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">计划编码：</label>
            <div class="col-sm-4">
                <input name="planCode" th:field="*{planCode}" class="form-control" type="text" readonly required>
            </div>
            <label class="col-sm-2 control-label is-required">计划名称：</label>
            <div class="col-sm-4">
                <input name="planName" th:field="*{planName}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">申报年度：</label>
            <div class="col-sm-4">
                <input name="planYear" th:field="*{planYear}" class="form-control" maxlength="4" type="text" required>
            </div>
            <label class="col-sm-2 control-label">采购方式：</label>
            <div class="col-sm-4">
                <select name="purWay" class="form-control" th:with="type=${@dict.getType('pur_way')}" required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                            th:field="*{purWay}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">单价：</label>
            <div class="col-sm-4">
                <input name="planPrice" th:field="*{planPrice}" class="form-control" type="text" required>
            </div>
            <label class="col-sm-2 control-label is-required">数量：</label>
            <div class="col-sm-4">
                <input name="planNum" th:field="*{planNum}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">采购金额：</label>
            <div class="col-sm-4">
                <input name="planMoney" th:field="*{planMoney}" class="form-control" type="text" readonly required>
            </div>
            <label class="col-sm-2 control-label">负责人：</label>
            <div class="col-sm-4">
                <input name="userName" th:field="*{userName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">预算名称：</label>
            <div class="col-sm-4">
                <input name="budgetName" id="budgetName" th:field="*{budgetName}" onclick="selectBudgetParent()"
                       class="form-control" type="text" required readonly>
            </div>
            <label class="col-sm-2 control-label">预算编码：</label>
            <div class="col-sm-4">
                <input name="budgetCode" id="budgetCode" th:field="*{budgetCode}" class="form-control"
                       onclick="selectBudgetParent()"
                       type="text" required readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">预算指标：</label>
            <div class="col-sm-4">
                <input name="budgetQuota" th:field="*{budgetQuota}" class="form-control" onclick="selectBudgetParent()"
                       type="text" required readonly>
            </div>
            <label class="col-sm-2 control-label">状态：</label>
            <div class="col-sm-4">
                <select name="status" class="form-control" th:with="type=${@dict.getType('sys_start_stop')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                            th:field="*{status}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "pur/plan";
    $("#form-plan-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-plan-edit').serialize());
        }
    }

    function selectBudgetParent() {
        $.modal.open("选择预算", prefix + "/parent?budgetId="+$("#budgetId").val());
    }

    function countMoney() {
        var planNum = $("#planNum").val();
        var planPrice = $("#planPrice").val();
        var planMoney = planNum * planPrice;
        if (!isNaN(planMoney)) {
            $("#planMoney").val(planMoney);
        }
    }
</script>
</body>
</html>