<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('自定义按钮')"/>
</head>
<style>
    .btn-w-m {

        min-width:100px;
        margin:2px;
    }



</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="custom-button" th:object="${sysCustomButton}">

        <input name="buttonId" id="buttonId" th:field="*{buttonId}" type="hidden">
        <input name="customId" id="customId" th:field="*{customId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">按钮名称：</label>
            <div class="col-sm-4">
                <input name="buttonName" id="buttonName" th:field="*{buttonName}" class="form-control" type="text"
                       required>
            </div>
            <label class="col-sm-2 control-label is-required">默认状态：</label>
            <div class="col-sm-4">
                <select name="defaultUse" class="form-control" th:field="*{defaultUse}">
                    <option value="1" selected>启用</option>
                    <option value="0">停用</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">按钮图标：</label>
            <div class="col-sm-4">
                <input id="buttonIcon" name="buttonIcon" th:field="*{buttonIcon}" class="form-control" type="text"
                       placeholder="选择图标">
                <div class="ms-parent" style="width: 100%;">
                    <div class="icon-drop animated flipInX" style="max-height:200px;overflow-y:auto">
                        <div data-th-include="system/menu/icon"></div>
                    </div>
                </div>
            </div>
            <label class="col-sm-2 control-label is-required">按钮样式：</label>
            <div class="col-sm-4">
                <input id="buttonClass" name="buttonClass" th:field="*{buttonClass}" class="form-control" type="text" readonly>

                <p style="margin-top: 10px;">
                    <button type="button" class="btn btn-w-m btn-default" onclick="chooseButton(this)">btn-default</button>
                    <button type="button" class="btn btn-w-m btn-primary" onclick="chooseButton(this)">btn-primary</button>
                    <button type="button" class="btn btn-w-m btn-success" onclick="chooseButton(this)">btn-success</button>
                    <button type="button" class="btn btn-w-m btn-info" onclick="chooseButton(this)">btn-info</button>
                    <button type="button" class="btn btn-w-m btn-warning" onclick="chooseButton(this)">btn-warning</button>
                    <button type="button" class="btn btn-w-m btn-danger" onclick="chooseButton(this)">btn-danger</button>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">按钮权限：</label>
            <div class="col-sm-4">
                <input name="buttonPermission" id="buttonPermission" th:field="*{buttonPermission}" class="form-control"
                       type="text" maxlength="4" required>
            </div>
            <label class="col-sm-2 control-label">排序：</label>
            <div class="col-sm-4">
                <input name="sort" id="sort" class="form-control" th:field="*{sort}"
                       type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">按钮方法：</label>
            <div class="col-sm-4">
                <select name="buttonFunction" class="form-control" th:field="*{buttonFunction}">
                    <option value="add" selected>新增</option>
                    <option value="update">修改</option>
                    <option value="delete">删除</option>
                    <option value="importExcel">导入</option>
                    <option value="exportExcel">导出</option>
                    <option value="custom">自定义</option>
                </select>
            </div>
<!--            <label class="col-sm-2 control-label is-required">弹出方式：</label>-->
<!--            <div class="col-sm-4">-->
<!--                <select name="openType" class="form-control" th:field="*{openType}">-->
<!--                    <option value="open" selected>弹窗</option>-->
<!--                    <option value="openTab">页签</option>-->
<!--                </select>-->
<!--            </div>-->
            <label class="col-sm-2 control-label">状态：</label>
            <div class="col-sm-4">
                <select name="isUse" class="form-control" th:with="type=${@dict.getType('sys_start_stop')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "custom/list"

    $(function () {

        $(".icon-drop").find(".ico-list i").on("click",
            function () {
                $('#buttonIcon').val($(this).attr('class'));
            });
    })

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/customButtonSave", $('#custom-button').serialize());
        }
    }

    function chooseButton(obj){
        $("#buttonClass").val($(obj).text());
    }


</script>
</body>
</html>